/* Châteaux */

.est-boss .wrap {
    background-image: url(../img/decors/bg_castle.png);
    background-repeat: repeat;
}

.est-boss .sol-1 {
    background: url("../img/decors/castleCenter.png");
}

.est-boss .sol-1 > div {
    background: url("../img/decors/castleMid.png") repeat-x;
}

/* Monde 1 / plaines */
#sfois-10 .wrap,
#sfois-5 .wrap,
#sfois-5-10 .wrap {
    background-image: url("../img/decors/bg_grasslands.png");
}


#sfois-10 .decor,
#sfois-5 .decor,
#sfois-5-10 .decor {
    background: url(../img/decors/decor_plaine.png);    
}


/* Monde 2 / foret */
#sfois-2 .wrap,
#sfois-3 .wrap,
#sfois-4 .wrap,
#sfois-2-3-4 .wrap {
    background-color: #7ab71e;
    background-image: url("../img/decors/bg_shroom.png");
}

#sfois-2 .decor,
#sfois-3 .decor,
#sfois-4 .decor,
#sfois-2-3-4 .decor {
    background: url(../img/decors/decor-foret.png);    
}

/* Monde 3 / desert */
#sfois-6-1 .wrap,
#sfois-6-2 .wrap,
#sfois-6 .wrap,
#sfois-6-chrono .wrap {
    background-image: url("../img/decors/bg_desert.png");
}

#sfois-6-1 .decor,
#sfois-6-2 .decor,
#sfois-6 .decor,
#sfois-6-chrono .decor {
    background: url(../img/decors/decor-desert.png);    
}


#sfois-6-1 .sol-1,
#sfois-6-2 .sol-1,
#sfois-6 .sol-1,
#sfois-6-chrono .sol-1 {
    background: url("../img/decors/sandCenter.png");
}

#sfois-6-1 .sol-1 > div,
#sfois-6-2 .sol-1 > div,
#sfois-6 .sol-1 > div,
#sfois-6-chrono .sol-1 > div {
    background: url("../img/decors/sandMid.png") repeat-x;
}


/* Monde 4 / lac */
#sfois-7-1 .wrap,
#sfois-7-2 .wrap,
#sfois-7 .wrap,
#sfois-7-chrono .wrap {
    background-image: url("../img/decors/bg_grasslands.png");
}

#sfois-7-1 .sol-1,
#sfois-7-2 .sol-1,
#sfois-7 .sol-1,
#sfois-7-chrono .sol-1 {
    height: 70px;
    background: #c0e8ec;
}

#sfois-7-1 .sol-1 > div,
#sfois-7-2 .sol-1 > div,
#sfois-7 .sol-1 > div,
#sfois-7-chrono .sol-1 > div {
    background: url("../img/decors/liquidWaterTop_mid.png") repeat-x;
}


#sfois-7-1 .sol-2,
#sfois-7-2 .sol-2,
#sfois-7 .sol-2,
#sfois-7-chrono .sol-2 {
    background: url("../img/decors/liquidWater.png");
    height: 40%;
}

#sfois-7-1 .decor,
#sfois-7-2 .decor,
#sfois-7 .decor,
#sfois-7-chrono .decor {
    background: url(../img/decors/decor-lac.png);    
}


/* Monde 5 / ville */
#sfois-8-1 .wrap,
#sfois-8-2 .wrap,
#sfois-8 .wrap,
#sfois-8-chrono .wrap {
    background-image: url("../img/decors/bg_grasslands.png");
    
}

#sfois-8-1 .decor,
#sfois-8-2 .decor,
#sfois-8 .decor,
#sfois-8-chrono .decor {
    background: url(../img/decors/decor_ville.png);    
}


/* Monde 6 / Caverne */

#sfois-9-1 .wrap,
#sfois-9-2 .wrap,
#sfois-9 .wrap,
#sfois-9-1-chrono .wrap {
}

#sfois-9-1 .sol-3,
#sfois-9-2 .sol-3,
#sfois-9 .sol-3,
#sfois-9-1-chrono .sol-3 {
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    bottom: 20%;
    background: url(../img/decors/bg_caverne.png) repeat-x bottom left;
}

#sfois-9-1 .decor,
#sfois-9-2 .decor,
#sfois-9 .decor,
#sfois-9-1-chrono .decor {
    background: url(../img/decors/decor-grotte.png);    
}


#sfois-9-1 .sol-1,
#sfois-9-2 .sol-1,
#sfois-9 .sol-1,
#sfois-9-1-chrono .sol-1 {
    background: url("../img/decors/sandCenter.png");
}

#sfois-9-1 .sol-1 > div,
#sfois-9-2 .sol-1 > div,
#sfois-9 .sol-1 > div,
#sfois-9-chrono .sol-1 > div {
    background: url("../img/decors/sandMid.png") repeat-x;
}


/* Monde 7 / Gâteau */

#s9-10-plus .wrap,
#s9-10-moins .wrap,
#s9-10-plus-moins .wrap,
#s9-10-plus-moins-chrono .wrap {
    background-image: url("../img/decors/bg_grasslands.png");
}

#s9-10-plus .decor,
#s9-10-moins .decor,
#s9-10-plus-moins .decor,
#s9-10-plus-moins-chrono .decor {
    background: url(../img/decors/decor-gateau.png);    
}


#s9-10-plus .sol-1,
#s9-10-moins .sol-1,
#s9-10-plus-moins .sol-1,
#s9-10-plus-moins-chrono .sol-1 {
    background: url("../img/decors/cakeCenter.png");
}

#s9-10-plus .sol-1 > div,
#s9-10-moins .sol-1 > div,
#s9-10-plus-moins .sol-1 > div,
#s9-10-plus-moins-chrono .sol-1 > div {
    background: url("../img/decors/cakeMid.png") repeat-x;
}
